{% extends 'auth/layout.html' %}

{% block title %}
  Board
{% endblock %}
{% with message = get_flashed_messages() %}
  {% if message %}
    <p class="mx-auto block bg-green-800 p-2 m-2 rounded"><strong>Message:</strong> {{ message[0] }}</p>
  {% endif %}
{% endwith %}
{% block body %}
<div>
  <header>
    {% include 'auth/ui/post_form.html' %}
  </header>
  <div class="lg:mt-10 lg:w-auto lg:mb-10 lg:p-6 md:mt-10 md:mb-10 sm:mt-10 sm:mb-10 sm:grid sm:grid-cols-2 md:grid md:grid-cols-1 lg:grid lg:grid-cols-1 gap-4 md:mx-auto lg:mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 break-after-column">
    {% include 'auth/ui/feed.html' %}
  </div>
</div>
<div class="flex flex-col items-center">
  <a href="#" style="margin-top: 40px;" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Hottest Streams</h5>
  <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
  </a>
  <a href="#" style="margin-top: 40px;" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Hottest Topics</h5>
  <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
  </a>
  <a href="#" style="margin-top: 40px;" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Hottest Communities</h5>
  <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
  </a>
</div>
{% endblock %}