{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block body %}
{% if error %}
  <div class="block w-max h-max mx-auto block bg-red-500 p-2 mt-4 rounded">
    <p >
      <strong>Error:</strong> {{ error }}
    </p>
  </div>

{% endif %}
{% with message = get_flashed_messages() %}
  {% if message %}
    <p class="mx-auto block bg-green-800 p-2 m-2 rounded"><strong>Message:</strong> {{ message[0] }}</p>
  {% endif %}
{% endwith %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form action="/login" method="post" class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input name="username" type="text" placeholder="username" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" placeholder="password" class="input input-bordered" required />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}