<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.1/dist/full.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../static/output.css">
  <link rel="stylesheet" href="../static/input.css">
  <link rel="stylesheet" href="../static/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body class="bg-base-300 h-screen block overflow-hidden backdrop-blur-sm w-screen bg-center">
  <div class="w-screen">
  {% include 'un_auth/ui/nav.html' %}
  <main class="w-screen">
    <section class="flex flex-col justify-center">
      {% block body %}
      {% endblock %}
    </section>
  </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>