<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/styles.css" rel="stylesheet">
        <title>Memories: The moments that matter {% block title %}{% endblock %}</title>
    </head>
    <body class="flex">
        <header class="w-full h-25 bg-gray-600"></header>
        <main>
            <section class="h-full w-250 bg-gray-600">

            </section>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
