{% extends 'layout.html' %}

{% block main %}
    <br />
    <!--- Container form -->
        <form class="container" action="{{ url_for('register') }}" method="post">

            <!--- Start of row for username -->
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">@</span>
                        <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username">
                    </div>
                </div>
            </div>
            <!--- End of row for username -->

            <br />
            <div class="row">
                <div class="col">
                    <input name="password"  type="password" class="form-control" placeholder="Set your password" aria-label="Set Password">
                </div>
                <div class="col">
                    <input name="confirmation" type="password" class="form-control" placeholder="Confirm your password" aria-label="Confirm Password">
                </div>
            </div>
            <br />

            <!--- Start of name row in form -->
            <div class="row">
                <div class="col">
                    <input name="first_name"  type="text" class="form-control" placeholder="Your first name" aria-label="First name">
                </div>
                <div class="col">
                    <input name="last_name" type="text" class="form-control" placeholder="Your last name" aria-label="Last name">
                </div>
            </div>
            <!--- End of name row in form -->

            <br />

            <!--- Start of City, State, Bio & Gender row in form -->
            <div class="row">

                <!--- Start of City & State selection column in form -->
                <div class="col-6 d-flex flex-row flex-wrap justify-content-between">
                    <div class="col-6">
                        <input name="city"  type="text" class="form-control" placeholder="Your city" aria-label="City">
                    </div>
                    <div class="col-5">
                        <input name="state"  type="text" class="form-control" placeholder="Your state" aria-label="State you reside in.">
                    </div>
                    <!--- Start of gender selection column in form -->
                    <div class="col-12">
                        <br />
                        <select class="form-select" aria-label="Choose your gender">
                            <option selected disabled>Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                            <option value="3">Non-binary</option>
                        </select>
                    </div>
                    <!--- End of gender selection column in form -->
                </div>
                <!--- End of City & State selection column in form -->


                <!--- Start of biography column in form -->
                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text">Your Bio.</span>
                        <textarea name="biography" class="form-control" aria-label="Enter your bio"></textarea>
                    </div>
                </div>
                <!--- End of biography column in form -->

            </div>
            <!--- End of row holding City, State, Bio & Gender elements -->

            <br />
            <div class="row">
                <div class="col-12">
                    <br />
                    <label class="form-label" for="customFile">Please upload a profile picture!</label>
                    <input type="file" class="form-control" />
                </div>
            </div>
            <br />
        <!--- Start of row with submit button element -->
            <div class="row">
                <button class="btn btn-outline-dark btn-lg" type="submit">Register</button>
            </div>
        <!--- End of row with submit button element -->

        </form>
{% endblock %}
