{% block body %}
{{ new_cal|safe }}
{% endblock %}

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    console.log("All done loading!");
    if(document.querySelector("table")){
      let table_ = document.querySelector("table");
      if(table_){
        table_.classList.add("h-full", "w-auto", "table-auto","self-center");
        console.log("Added classes to table!");

        body_ = document.querySelector("tbody")
        if(body_)
        {
          body_.classList.add("h-full", "w-full")
        }

        trow_ = document.getElementsByTagName("tr")
        for(let i = 1; i < trow_.length; i++)
        {
          let row_ = trow_.item(i)
          row_.classList.add("align-baseline", "px-1", "bg-gray-200", "text-xs", "leading-6", "text-gray-700", "lg:flex-auto")
        }

        trow_headers = document.getElementsByTagName("th")
        for(let i = 1; i < trow_headers.length; i++)
        {
          let row_ = trow_headers.item(i)
          row_.classList.add("border", "border-gray-600", "w-36")
        }

        console.log("Getting table cells!");
        table_cell = document.getElementsByTagName("td");

        for(let i = 0; i < table_cell.length; i++)
        {
          let cell_ = table_cell.item(i);
          console.log(`Found cells {cell_}`);
          cell_.classList.add("h-36", "w-36", "bg-white", "border", "border-gray-500", "px-2");
        }
      }
    } else {
      console.log("No tables found...");
    }
  });

  document.addEventListener("DOMContentLoaded",(event) => {
    table = document.getElementsByTagName("table")[0]
    current_date = new Date(document.getElementById("datetime").innerText).getDate();

    table_cell = table.getElementsByTagName("td");
    for(let i = 0; i < table_cell.length; i++)
    {
      if(table_cell[i].innerText.toString() == current_date.toString())
      {
        console.log(`Found the current date! ${table_cell[i].innerText}`)
        table_cell[i].classList.add("bg-blue-300");
        break;
      }
    }
    
    let yesterday = document.getElementById("yesterday")

    yesterday.addEventListener("click", (event) =>{
      current_date = new Date(document.getElementById("datetime").innerText).getDate();

      console.log(current_date.innerText);

      table_cell = table.getElementsByTagName("td");

      for(let i = 0; i < table_cell.length; i++)
      {
        if(table_cell[i].innerText.toString() == current_date.toString())
        {
          console.log(`Found the current date! ${table_cell[i].innerText}`);
          table_cell[i].classList.add("bg-blue-300");
          break;
        }
      }
    });
  });

  document.getElementById("datetime").innerText = `${month} ${day}, ${year}`;

</script>
