{% block body %}
{{ new_cal|safe }}
{% endblock %}

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    console.log("All done loading!");
    if(document.querySelector("table")){
      let table_ = document.getElementsByTagName("table")[1]
      if(table_){
        console.log("Got the table tag!")
        if(table_.classList.add())
        {
          console.log("Added classes to table!")
        }
      }

    } else {
      console.log("No tables found...")
    }
  });
</script>
