{% for post in title %}
  {% set i = loop.index %}
    {% set end = loop.length %}
      {% if i != end %}
          <div id="posts">
            <header class="grid grid-cols-3 gap-3 mb-4">
              <a href="#" class="mb-2 text-sm font-bold tracking-tight text-gray-900 dark:text-white">@GrumpyWhalrus</a>
              <p class="flex flex-row justify-end col-span-2 text-sm font-bold tracking-tight text-gray-900 dark:text-white">{{ title[i]['post_created_at'] }}</p>
            </header>
            <article>
              <p class="mb-2 text-2xl font-normal text-gray-700 tracking-tight dark:text-gray-400">{{ title[i]['post_content'] }}</p>
            </article>
            <footer class="flex flex-col justify-between items-center m-2">
              {{ title[i]['post_reactions'] }}
            </footer>
          </div>
          {% endif %}
        {% endfor %}