{% extends "layout.html" %}

{% block title %}
    Transaction history
{% endblock %}

{% block main %}
    {% if results %}
    {% for result in results %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Purchase Status</th>
                <th>Price</th>
                <th>Purchase time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>{{ result.symbol }}</b>
                </td>
                <td>
                    {{ result.purchase_status }}
                </td>
                <td>
                    {{result.price | usd}}
                </td>
                <td>
                    <b>{{ result.purchase_time }}</b>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% else %}
    <div>
        <h1>No transactions to display</h1>
    </div>
    {% endif %}
{% endblock %}
