{% extends "layout.html" %}

{% block title %}
    Your portfolio!
{% endblock %}

{% block main %}
<div>
    <h1>Stock Portfolio</h1>
    {% for result in results %}
    <br>
        <div class="border" style="background-color:#efefef; display: flex; flex-direction:row; justify-content: space-evenly;">
            <table>
                <thead style="width: auto; display:flex; justify-content:center; flex-direction: row;">
                  <tr>
                    <th colspan="2">Stocks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <br />
                    <td style="padding: 10px; margin: 10px;">Ticker Symbol: {{result.symbol}}</td>
                    <td>Amount of shares: {{result.amount}}</td>
                    <td>Price Per Share: {{result.price_per_share}}</td>
                    <td>Total Value of Holding: {{result.price_per_share * result.amount}}</td>
                  </tr>
                </tbody>
                <br>
                <tfoot>
                    <tr>
                      <td>21,000</td>
                    </tr>
                  </tfoot>
              </table>
        </div>
    {% endfor %}
</div>
{% endblock %}
