{% extends "layout.html" %}

{% block title %}
    Your portfolio!
{% endblock %}

{% block main %}
<div>
    {% for result in results %}
            {% if result.symbol == result.symbol %}
            <h1>ticker symbol: {{ result.symbol }}</h1>
            <br>
                <div class="border" style="background-color:#efefef; display: flex; flex-direction:row; justify-content: space-evenly;">
                    <h3>{{ result.price_per_share }}</h3>
                    <h3>{% result.amount = result.amount + result.amount %}</h3>
                </div>
            {% else %}
            <h1>ticker symbol: {{ result.symbol }}</h1>
            <br>
                <div class="border" style="background-color:#efefef; display: flex; flex-direction:row; justify-content: space-evenly;">
                    <h3>{{ result.price_per_share }}</h3>
                    <h3>{{ result.amount }}</h3>
                </div>
            {% endif %}
    {% endfor %}
</div>
{% endblock %}
