{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post">
        {{ register.csrf_token }}
        <div style="display:flex; flex-direction:column;" class="mb-3">
            <label for="username">Create a username</br></label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div style="display:flex; flex-direction:column; justify-content: space-between;" class="mb-3">
            <label for="password">Set your password</br></label>
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
            <label for="confirmation">Confirm your password</br></label>
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
