{% extends "layout.html" %}

{% block title %}
    Sell your stock!
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            {% for symbol in symbols %}
            <select for="symbol" name="symbol">
                <option value=""></option>
            </select>
            {% endfor %}
            <input autocomplete="off" required autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Enter amount of shares to sell" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
