body {
  width: 100vw;
  height: 100vh;
  background: url('imgs/abstract-soft-pastel-colorful-background.jpg');
  background-color: #222;
  background-size: cover;
  position: absolute;
  inset: 0;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
}
