{% extends 'un_auth/layout.html' %}
{% block title %}Register{% endblock %}
{% block body %}

{% if error %}
  <p><strong>Error:</strong> {{ error }}</p>
{% endif %}

<div class="flex flex-row justify-center">
  <form action="/register" method="POST" class="bg-gray-50 mx-auto m-8 p-8 bg-opacity-75 shadow-xs rounded-md flex flex-col items-center">
    <label class="block">
      <span class="block text-sm font-medium text-slate-700">Username</span>
      <input type="text" name="username" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      "/>
    </label>
    <label class="block">
      <span class="block text-sm font-medium text-slate-700">Password</span>
      <input type="password" name="password" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      "/>
    </label>
    <label class="block">
      <span class="block text-sm font-medium text-slate-700">Confirm Password</span>
      <input type="password" name="conf-password" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      "/>
    </label>
    <label class="block">
      <span class="block text-sm font-medium text-slate-700">Email</span>
      <input type="email" name="email" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      "/>
    </label>
    <label class="block">
      <span class="block text-sm font-medium text-slate-700">Bio</span>
      <textarea rows="3" cols="18" name="biography" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      "/>
        </textarea>
    </label>
    <label class="block">
      <span class="block text-sm font-medium text-slate-700">City</span>
      <input type="text" name="city" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      "/>
    </label>
    <label class="block">
      <span class="block text-sm font-medium text-slate-700">State</span>
      <input type="text" name="state" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      "/>
    </label>
    <label class="block">
      <span class="block text-sm font-medium text-slate-700">Country</span>
      <input type="text" name="country" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      "/>
    </label>
    <button class="bg-green-200 p-2 shadow-xs rounded-md border-2 border-solid border-green-400 mt-8" type="submit">Register</button>
  </form>
</div>
{% endblock %}